main{
    width: 100%;
    height: 90vh;
    background-image: url(./PhotoGallery/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: WorkSans;
}
    main section{
        width: 55vh;
        height: 55vh;
        padding: 5vh;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.349);
    }
        main div{
            width: 100%;
            height: 8vh;
            font-size: 1.8rem;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
        }
        main aside{
            width: 100%;
            height: 39vh;
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
        }
            aside input{
                width: 80%;
                margin-top: 1vh;
                height: 5vh;
                border-bottom: 0.2vh solid red;
                color: white;
                background-color: transparent;
                font-size: 1rem;
                outline: 0;
            }
            aside input::placeholder{
                color: white;
            }
            aside button{
                width: 50%;
                height: 5vh;
                margin: 3vh;
                font-size: 1rem;
                background-color: red;
                font-weight: bold;
            }
        main nav{
            width: 100%;
            height: 8vh;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
        }
            main nav a{
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                color: white;
            }
            nav a:hover{
                color: red;
            }

@font-face {    
    font-family: WorkSans;    
    src: url(./font/WorkSans.ttf);
}
